* {
    box-sizing: border-box;
    user-select: none;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    background: #EEEEEE;
}

::-webkit-scrollbar-thumb {
    background: #6A9A8B;
    border-radius: 2px;
}

/* ===========================_Page action container_ ===========================*/
.page-actions-cont {
    height: 3rem;
    background-color: #16a085;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}

.page-action {
    width: 3.5rem;
    height: 2rem;
    text-align: center;
    color: #f1f2f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-page-action {
    background-color: #f1f2f6;
    color: #218c74;
}

/* ===========================_Cell properties action container_ ===========================*/
.cellprops-actions-cont {
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-bottom: 1px solid #B0BEC5;
}


.copy-cut-paste-cont {
    width: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid #B0BEC5;
}


.copy-cut-paste-cont>*:hover {
    cursor: pointer;
}

.font-cont {
    width: 14.5rem;
    display: flex;
    /* background-color: azure; */
    border-right: 1px solid #B0BEC5;
    justify-content: center;
}

.font-cont>*:hover {
    cursor: pointer;
}

/* .cellprops-actions-cont>* {
    margin: 0.5rem;
} */

.font-cont>select {
    /* border: none; */
    outline: none;
    /* border-right: none; */
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.font-family-prop {
    padding: 0.2rem;
    margin-right: 9px;
    border-right: 1px solid #B0BEC5;
}

.font-size-prop {
    padding: 0.2rem;
    border-right: none;
}

.bold-italic-underline-cont {
    width: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid #B0BEC5;
}

.bold-italic-underline-cont>*:hover {
    cursor: pointer;
}

.alingment-cont {
    width: 7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid #B0BEC5;
}

.alingment-cont>*:hover {
    cursor: pointer;
}

.color-cont {
    width: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-right: 1px solid #B0BEC5;
}

.color-cont>*:hover {
    cursor: pointer;
}

.color-prop {
    position: relative;
}

.color-prop>input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.open-save-cont {
    width: 7rem;
    border-right: 1px solid #B0BEC5;
    display: flex;
    justify-content: space-around;
}

/* ===========================_formula action container_ ===========================*/
.formula-actions-cont {
    height: 2rem;
    /* background-color: #ecf0f196; */
    padding-left: 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #B0BEC5;
}

.formula-icon {
    height: 70%;
    width: 3rem;
    border-right: 1px solid #B0BEC5;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.function {
    color: #718794;
}

.address-bar {
    width: 5rem;
    text-align: center;
}

.formula-bar {
    width: calc(100vw - 5rem - 0.7rem - 0.7rem - 0.7rem);
    padding-left: 1rem;
}

.formula-actions-cont>input {
    border: none;
    outline: none;
    height: 70%;
    border-right: 1px solid #B0BEC5;
}

/* ===========================_grid action container_ ===========================*/
.grid-actions-cont {
    height: calc(100vh - 3rem - 3rem - 2rem - 2rem);
    position: relative;
    overflow: scroll;
    /* background-color: #ecf0f1; */
}

.top-left-dummy-box {
    height: 23px;
    width: 2.1rem;
    background-color: #ecf0f1;
    position: sticky;
    z-index: 1;
    border-right: 3px solid #015536;
    border-bottom: 2px solid #015536;
    border-top: 1px solid #91a0b1;
}

.address-col-cont {
    position: sticky;
    top: 24px;
    left: 0;
}

.address-row-cont {
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
    background-color: #ecf0f196;
}

.cells-cont {
    position: absolute;
    top: 0;
    left: 2rem;
    border-left: 1px solid #afbac7;
}

.address-col {
    height: 23px;
    width: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #91a0b1;
}

.address-row {
    height: 23px;
    width: 7rem;
    border-right: 1px solid #91a0b1;
    border-bottom: 1px solid #91a0b1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-cont {
    display: flex;
}


.cell1 {
    height: 23px;
    width: 7rem;
    outline: none;
    border-right: 1px solid #B0BEC5;
    border-bottom: 1px solid #B0BEC5;
}

.cell {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}



/* ===========================_sheet action container_ ===========================*/
.sheet-actions-cont {
    height: 2rem;
    display: flex;
    align-items: center;
    background-color: #ecf0f1;
}

.dummy {
    width: 2.1rem;
    /* border: 1px solid; */
    height: 100%;
}

.sheet-actions-cont>* {
    display: inline-block;
}

.sheet-add-icon {
    height: 100%;
    width: 5rem;
    border-right: 1px solid #91a0b1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sheet-add-icon>* {
    color: #718794;
}

.sheet-add-icon:hover {
    cursor: default;
}

.sheets-folder-cont {
    display: flex;
    align-items: center;
    height: 100%;
    width: 5rem;
    width: calc(100vw - 2vw);
    overflow: auto;
}

.sheet-folder {
    height: 100%;
    /* text-decoration: underline; */
    /* font-weight: bold; */
    /* text-decoration-thickness: 3px; */
    font-size: larger;
    /* background-color: lightblue; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b4949c2;
}

.sheet-content {
    width: 5rem;
    /* background-color: lightgreen; */
}

/* responsive */
@media screen and (min-width : 0px) and (max-width: 376px) {
    .page-actions-cont {
        display: none;
    }

    .cellprops-actions-cont {
        display: none;
    }

    .grid-actions-cont {
        height: calc(100vh - 2rem - 2rem);
    }

    .address-row-cont, .address-col, .top-left-dummy-box, .formula-actions-cont, .address-bar, .formula-bar  {
        background-color: black;
        color: white;
    }

    .sheet-actions-cont {
        background-color: black;
    }
}

@media screen and (min-width : 376px) and (max-width: 426px) {
    .page-actions-cont {
        display: none;
    }

    .cellprops-actions-cont {
        display: none;
    }

    .grid-actions-cont {
        height: calc(100vh - 2rem - 2rem);
    }

    .address-row-cont, .address-col, .top-left-dummy-box, .formula-actions-cont, .address-bar, .formula-bar  {
        background-color: black;
        color: white;
    }

    .sheet-actions-cont {
        background-color: black;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .page-actions-cont {
        display: none;
    }

    .cellprops-actions-cont {
        display: none;
    }

    .grid-actions-cont {
        height: calc(100vh - 2rem - 2rem);
    }

    .address-row-cont, .address-col, .top-left-dummy-box, .formula-actions-cont, .address-bar, .formula-bar  {
        background-color: black;
        color: white;
    }

    .sheet-actions-cont {
        background-color: black;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {}